



.hero-container{
    
    width: 100%;
    margin: 1rem 2rem;
    height: 600px;
    position: relative;
    top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}

.hero-text-wrapper{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 1rem;

}

.title{
    color: #eee;
    font-size: 3rem;
    font-weight: bolder;
    text-align: left;
    margin: 0;
    padding: 0;
    cursor: default;

}

.span{
    color:  rgb(202, 37, 37);
    font-size: 3.2rem;
    cursor: default;
}

.p{
    color: #eee;
    font-size: 1.2rem;
    text-align: left;
}

.btn{
    margin: 1rem 0;
    text-align: center;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: .9rem;
    font-weight: bold;
    font-family: 'Outfit', sans-serif;
    width: 9rem;
    height: 3rem;
    color: #eee;
    background-color:rgb(230, 25, 25) ;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    box-shadow: 0px 4px 20px  rgb(201, 22, 22);
    transition: all 0.3s ease-in-out;
    outline: none;
    cursor: pointer;
    
}

.icon-btn {
    font-size: 1rem;
    color: #eee;
    
}

.btn:hover{
    transition: all 1s ease-in;
    scale: 110%;
    background: linear-gradient(to right, rgb(230, 25, 25) , rgba(104, 13, 13, 0.507));
    box-shadow: 0px 4px 20px  rgb(163, 11, 11)
}


.hero-img-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.burgerDrawing{
    width: 600px;
    height: 600px;
    position: relative;
    z-index: 2;
    opacity: 1;
    object-fit: cover;
    transition: all 0.5s ease-in-out

}

.burgerDrawing.inactive{
    opacity: 0;
    transition: all 0.5s ease-in-out

}

.burgerImg{
    width: 800px;
    opacity: 0;
    height: 600px;
    position: absolute;
    z-index: 3;
    right: 200px;
    transition: all 0.5s ease-in-out;
    object-fit: cover;
}

.burgerImg.active{
    transition: all 0.5s ease-in-out;
    opacity: 1;
    
}


@media screen and (max-width:1240px){
    .hero-container{
        display: flex;
        flex-direction: column;
        top: 200px;
        width: 80%;
        gap: 25px;
        
    }

    .title{
        font-size: 2rem;
    }
    .span{
        font-size: 2.3rem;
    }
    .p{
        font-size: 1rem;
    }

    .btn{
        width: 8rem;
        height: 3rem;
        font-size: .8rem;
    }
    .icon-btn{
        font-size: .7rem;
    }

    .burgerDrawing{
        width: 400px;
        height: 400px;
    }

    .burgerImg{
        right: 30px;
        left: 0;
        width: 500px;
        height: 400px;
        margin: 0;
        padding: 0;
    }
    .burgerImg.active{
        right: 30px;
        width: 500px;
        height: 400px;
    }
}

