

.map-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 90px;
}

.map-container h1{
    color: #eee;
    font-size: 3rem;
    margin: 3rem 0;
    padding: 0;
}
iframe{
    width: 1000px;
    height: 600px;
}


@media screen and (max-width:1240px){
    .map-container h1{
        font-size: 1.8rem;
        margin: 2rem 0;

    }

    iframe{
        width: 100%;
        height: 400px;
        margin: 0;
        padding: 0;
    }
}